*.class
*.iml
.project
/**/.project
.classpath
/**/.classpath
.idea/*
/**/target/
.settings/
/**/.settings/
# Mobile Tools for Java (J2ME)
.mtj.tmp/
/log/
# Package Files #
*.jar
*.war
*.ear
/target/
