<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.carl.study.springboot.mapper.StudentMapper">

  
  <select id="queryStudentById" resultType="student">
    SELECT T.ID, T.NAME FROM T_STUDENT T WHERE T.ID=#{id}
  </select>

  <update id="updateStudentById">
   UPDATE t_student t SET t.name=#{name} WHERE t.id=#{id}
  </update>
  
  <insert id="insertStudent" parameterType="student">
    <selectKey keyProperty="id" order="BEFORE" resultType="long">
      SELECT seq_student.nextval FROM dual
    </selectKey>
    INSERT  INTO t_student (id, name) VALUES(#{id}, #{name})
  </insert>
<!--selectKey keyColumn用于自增主键值映射到javabean字段， 如果自增主键不是第一列， 需要明确支持该值，值为数据库字段名-->
  <insert id="insertStudent2" parameterType="student">

    <selectKey keyProperty="id" order="BEFORE"  resultType="long">
      SELECT seq_student.nextval FROM dual
    </selectKey>
    INSERT  INTO t_student (id, name) VALUES(#{id}, #{name})
  </insert>

</mapper>